repos:
-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff format
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        args: [format, --check, --diff]
-   repo: local
    hooks:
    -   id: ruff-check
        name: ruff check
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        args: [check, --diff]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true